:root {

  /* Color Variables */
  --color_button-bg: hsl(0 100% 50%);
  --color_btn-bg: hsl(115 74% 53%);
  --color_btn-text: hsl(305 34% 77%);

  /* Float Variables */
  --space_btn-pad-inline: 1rem;
  --space_btn-pad-block: 0.5rem;
  --radius_btn-radius: 0.25rem;
}
