:root {

  /* Color Variables */
  --color_button-bg: #ff0000;
  --color_btn-bg: #e031b4;
  --color_btn-text: #d7afd4;

  /* Float Variables */
  --space_btn-pad-inline: 16px;
  --space_btn-pad-block: 8px;
  --radius_btn-radius: 4px;
}
