/*
 * Design tokens exported from Figma
 * Exported at: 2026-05-03T06:38:16.716Z
 * Format: Tailwind CSS v4 @theme variables
 * Usage: import this file after @import "tailwindcss";
 */
@theme static {
  /* Colors */
  --color-accordion-bg: oklch(0.278 0.034 257.672);
  --color-accordion-border: oklch(0.129 0.041 264.695 / 0.15);
  --color-accordion-content-bg: oklch(0.278 0.034 257.672);
  --color-accordion-content-fg: oklch(1 0 0);
  --color-accordion-fg: oklch(1 0 0);
  --color-accordion-subtitle-fg: oklch(0.494 0.037 261.595);
  --color-accordion-title-bg: oklch(0.278 0.034 257.672);
  --color-accordion-title-bg-default-hover: oklch(1 0 0 / 0.1);
  --color-accordion-title-fg: oklch(1 0 0);
  --color-badge-bg-danger-default: oklch(0.702 0.189 22.228);
  --color-badge-bg-discount-default: oklch(0.702 0.189 22.228);
  --color-badge-bg-info-default: oklch(0.704 0.123 182.503);
  --color-badge-bg-outline-default: oklch(0 0 0 / 0);
  --color-badge-bg-primary-default: oklch(0.827 0.109 229.198);
  --color-badge-bg-secondary-default: oklch(0.772 0.173 65.367);
  --color-badge-bg-success-default: oklch(0.844 0.143 165.23);
  --color-badge-bg-tertiary-default: oklch(0.806 0.112 11.594);
  --color-badge-bg-warning-default: oklch(0.798 0.164 82.706);
  --color-badge-border-danger-default: oklch(0 0 0 / 0);
  --color-badge-border-discount-default: oklch(0 0 0 / 0);
  --color-badge-border-info-default: oklch(0 0 0 / 0);
  --color-badge-border-outline-default: oklch(0.129 0.041 264.695 / 0.15);
  --color-badge-border-primary-default: oklch(0 0 0 / 0);
  --color-badge-border-secondary-default: oklch(0 0 0 / 0);
  --color-badge-border-success-default: oklch(0 0 0 / 0);
  --color-badge-border-tertiary-default: oklch(0 0 0 / 0);
  --color-badge-border-warning-default: oklch(0 0 0 / 0);
  --color-badge-fg-danger-default: oklch(0.13 0.043 265.132);
  --color-badge-fg-discount-default: oklch(0.13 0.043 265.132);
  --color-badge-fg-info-default: oklch(0.13 0.043 265.132);
  --color-badge-fg-outline-default: oklch(0.494 0.037 261.595);
  --color-badge-fg-primary-default: oklch(0.13 0.043 265.132);
  --color-badge-fg-secondary-default: oklch(0.13 0.043 265.132);
  --color-badge-fg-success-default: oklch(0.13 0.043 265.132);
  --color-badge-fg-tertiary-default: oklch(0.13 0.043 265.132);
  --color-badge-fg-warning-default: oklch(0.13 0.043 265.132);
  --color-border-color-select-width: 0.13rem;
  --color-breadcrumb-bg: oklch(0.278 0.034 257.672);
  --color-breadcrumb-ellipsis: oklch(0.494 0.037 261.595);
  --color-breadcrumb-item: oklch(1 0 0);
  --color-breadcrumb-item-default-current: oklch(0.507 0.063 255.385);
  --color-breadcrumb-item-default-hover: oklch(0.507 0.063 255.385);
  --color-breadcrumb-ring: oklch(1 0 0);
  --color-breadcrumb-separator: oklch(0.494 0.037 261.595);
  --color-button-bg-borderless-active: oklch(0.129 0.041 264.695 / 0.15);
  --color-button-bg-borderless-default: oklch(0 0 0 / 0);
  --color-button-bg-borderless-hover: oklch(0.129 0.041 264.695 / 0.1);
  --color-button-bg-danger-active: oklch(0.881 0.063 18.416);
  --color-button-bg-danger-default: oklch(0.702 0.189 22.228);
  --color-button-bg-danger-hover: oklch(0.855 0.079 18.827);
  --color-button-bg-danger-light-active: oklch(0.962 0.019 25.602);
  --color-button-bg-danger-light-default: oklch(0.9 0.048 18.09);
  --color-button-bg-danger-light-hover: oklch(0.953 0.023 24.126);
  --color-button-bg-disabled-default: oklch(0.278 0.034 257.672);
  --color-button-bg-outlined-danger-active: oklch(0.794 0.119 20.048 / 0.122);
  --color-button-bg-outlined-danger-hover: oklch(0.805 0.111 19.782 / 0.161);
  --color-button-bg-outlined-default: oklch(0 0 0 / 0);
  --color-button-bg-outlined-primary-active: oklch(0.813 0.111 233.957 / 0.122);
  --color-button-bg-outlined-primary-hover: oklch(0.823 0.112 229.19 / 0.161);
  --color-button-bg-outlined-secondary-active: oklch(0.822 0.171 78.982 / 0.122);
  --color-button-bg-outlined-secondary-hover: oklch(0.833 0.172 82.058 / 0.161);
  --color-button-bg-outlined-tertiary-active: oklch(0.705 0.19 14.191 / 0.122);
  --color-button-bg-outlined-tertiary-hover: oklch(0.706 0.189 14.04 / 0.161);
  --color-button-bg-outlined-warning-active: oklch(0.844 0.172 90.132 / 0.122);
  --color-button-bg-outlined-warning-hover: oklch(0.856 0.175 88.008 / 0.161);
  --color-button-bg-primary-active: oklch(0.932 0.092 198.233);
  --color-button-bg-primary-default: oklch(0.827 0.109 229.198);
  --color-button-bg-primary-hover: oklch(0.898 0.094 209.143);
  --color-button-bg-primary-light-active: oklch(0.969 0.046 196.42);
  --color-button-bg-primary-light-default: oklch(0.937 0.03 251.281);
  --color-button-bg-primary-light-hover: oklch(0.969 0.046 196.42);
  --color-button-bg-secondary-active: oklch(0.907 0.182 99.038);
  --color-button-bg-secondary-default: oklch(0.772 0.173 65.367);
  --color-button-bg-secondary-hover: oklch(0.881 0.181 94.02);
  --color-button-bg-secondary-light-active: oklch(0.97 0.107 105.368);
  --color-button-bg-secondary-light-default: oklch(0.893 0.063 56.696);
  --color-button-bg-secondary-light-hover: oklch(0.97 0.107 105.368);
  --color-button-bg-tertiary-active: oklch(0.769 0.142 7.776);
  --color-button-bg-tertiary-default: oklch(0.806 0.112 11.594);
  --color-button-bg-tertiary-hover: oklch(0.747 0.158 9.988);
  --color-button-bg-tertiary-light-active: oklch(0.884 0.064 6.283);
  --color-button-bg-tertiary-light-default: oklch(0.941 0.034 344.058);
  --color-button-bg-tertiary-light-hover: oklch(0.857 0.079 9.107);
  --color-button-bg-warning-active: oklch(0.937 0.199 105.01);
  --color-button-bg-warning-default: oklch(0.798 0.164 82.706);
  --color-button-bg-warning-hover: oklch(0.909 0.189 99.865);
  --color-button-bg-warning-light-active: oklch(0.975 0.117 107.339);
  --color-button-bg-warning-light-default: oklch(0.928 0.073 92.942);
  --color-button-bg-warning-light-hover: oklch(0.975 0.117 107.339);
  --color-button-border-danger-default: oklch(0.702 0.189 22.228);
  --color-button-border-disabled-default: oklch(0.373 0.034 260.169);
  --color-button-border-primary-default: oklch(0.827 0.109 229.198);
  --color-button-border-secondary-default: oklch(0.772 0.173 65.367);
  --color-button-border-tertiary-default: oklch(0.806 0.112 11.594);
  --color-button-border-warning-default: oklch(0.798 0.164 82.706);
  --color-button-fg-danger-borderless-default: oklch(0.452 0.066 4.881);
  --color-button-fg-danger-default: oklch(0.13 0.043 265.132);
  --color-button-fg-danger-light-default: oklch(0.13 0.043 265.132);
  --color-button-fg-disabled-default: oklch(0.551 0.027 264.328);
  --color-button-fg-outlined-danger-default: oklch(1 0 0);
  --color-button-fg-outlined-primary-default: oklch(1 0 0);
  --color-button-fg-outlined-secondary-default: oklch(1 0 0);
  --color-button-fg-outlined-tertiary-default: oklch(1 0 0);
  --color-button-fg-outlined-warning-default: oklch(1 0 0);
  --color-button-fg-primary-borderless-default: oklch(0.507 0.063 255.385);
  --color-button-fg-primary-default: oklch(0.13 0.043 265.132);
  --color-button-fg-primary-light-default: oklch(0.13 0.043 265.132);
  --color-button-fg-secondary-borderless-default: oklch(0.447 0.076 49.767);
  --color-button-fg-secondary-default: oklch(0.13 0.043 265.132);
  --color-button-fg-secondary-light-default: oklch(0.13 0.043 265.132);
  --color-button-fg-tertiary-borderless-default: oklch(0.511 0.054 323.997);
  --color-button-fg-tertiary-default: oklch(0.13 0.043 265.132);
  --color-button-fg-tertiary-light-default: oklch(0.13 0.043 265.132);
  --color-button-fg-warning-borderless-default: oklch(0.492 0.079 93.623);
  --color-button-fg-warning-default: oklch(0.13 0.043 265.132);
  --color-button-fg-warning-light-default: oklch(0.13 0.043 265.132);
  --color-button-ring-default-default: oklch(1 0 0);
  --color-carousel-control-bg-default: oklch(0.373 0.034 260.169);
  --color-carousel-indicator-bg-active: oklch(0.827 0.109 229.198);
  --color-carousel-indicator-bg-default: oklch(0.373 0.034 260.169);
  --color-carousel-indicator-border-active: oklch(0 0 0 / 0);
  --color-carousel-indicator-border-default: oklch(0 0 0 / 0);
  --color-carousel-ring: oklch(1 0 0);
  --color-carousel-trigger-bg-default: oklch(0.373 0.034 260.169);
  --color-carousel-trigger-bg-hover: oklch(0.129 0.041 264.695 / 0.1);
  --color-carousel-trigger-fg-default: oklch(1 0 0);
  --color-carousel-trigger-fg-hover: oklch(1 0 0);
  --color-color-select-border: oklch(0.373 0.034 260.169);
  --color-color-select-border-default-hover: oklch(1 0 0);
  --color-color-select-border-default-selected: oklch(1 0 0);
  --color-color-select-fg-check: oklch(1 0 0);
  --color-color-select-label-fg: oklch(0.494 0.037 261.595);
  --color-color-select-ring: oklch(1 0 0);
  --color-combobox-bg-default: oklch(1 0 0 / 0.05);
  --color-combobox-bg-disabled: oklch(0.278 0.03 256.848);
  --color-combobox-bg-focus: oklch(1 0 0 / 0.15);
  --color-combobox-bg-hover: oklch(1 0 0 / 0.1);
  --color-combobox-border-default: oklch(1 0 0 / 0.18);
  --color-combobox-border-disabled: oklch(0.373 0.031 259.733);
  --color-combobox-border-error: oklch(0.702 0.189 22.228);
  --color-combobox-border-focus: oklch(0.828 0.101 230.318);
  --color-combobox-border-hover: oklch(1 0 0 / 0.28);
  --color-combobox-border-success: oklch(0.844 0.143 165.23);
  --color-combobox-border-warning: oklch(0.798 0.164 82.706);
  --color-combobox-content-bg: oklch(0.278 0.034 257.672);
  --color-combobox-fg-default: oklch(1 0 0);
  --color-combobox-fg-disabled: oklch(0.714 0.019 261.325);
  --color-combobox-fg-placeholder: oklch(0.711 0.035 256.788);
  --color-combobox-item-bg-hover: oklch(0.129 0.041 264.695 / 0.1);
  --color-combobox-item-bg-selected: oklch(0.937 0.03 251.281);
  --color-combobox-item-fg-default: oklch(1 0 0);
  --color-combobox-ring: oklch(1 0 0);
  --color-combobox-trigger-fg-default: oklch(1 0 0);
  --color-combobox-trigger-fg-hover: oklch(0.827 0.109 229.198);
  --color-dialog-backdrop-bg-modal-default: oklch(0.278 0.034 257.672);
  --color-dialog-backdrop-bg-modeless-default: oklch(0 0 0 / 0);
  --color-dialog-close-trigger-fg: oklch(1 0 0);
  --color-dialog-content-bg: oklch(0.278 0.034 257.672);
  --color-dialog-content-border: oklch(0.129 0.041 264.695 / 0.15);
  --color-dialog-content-fg: oklch(1 0 0);
  --color-dialog-description-fg: oklch(1 0 0);
  --color-dialog-ring: oklch(1 0 0);
  --color-dialog-title-fg: oklch(1 0 0);
  --color-footer-bg: oklch(0.278 0.034 257.672);
  --color-footer-border: oklch(0.129 0.041 264.695 / 0.15);
  --color-footer-bottom-bg: oklch(0.278 0.034 257.672);
  --color-footer-container-bg: oklch(0.278 0.034 257.672);
  --color-footer-divider-bg: oklch(0.129 0.041 264.695 / 0.15);
  --color-footer-link-fg: oklch(0.494 0.037 261.595);
  --color-footer-link-fg-hover: oklch(0.827 0.109 229.198);
  --color-footer-list-bg: oklch(0.278 0.034 257.672);
  --color-footer-section-bg: oklch(0.278 0.034 257.672);
  --color-footer-text-fg: oklch(0.494 0.037 261.595);
  --color-footer-title-fg: oklch(1 0 0);
  --color-footer-title-fg-hover: oklch(0.827 0.109 229.198);
  --color-form-control-bg: oklch(1 0 0 / 0.05);
  --color-form-control-bg-default-disabled: oklch(0.278 0.03 256.848);
  --color-form-control-bg-default-focus: oklch(1 0 0 / 0.15);
  --color-form-control-bg-default-hover: oklch(1 0 0 / 0.1);
  --color-form-control-border: oklch(1 0 0 / 0.18);
  --color-form-control-border-default-disabled: oklch(0.373 0.031 259.733);
  --color-form-control-border-default-focus: oklch(0.828 0.101 230.318);
  --color-form-control-border-default-hover: oklch(1 0 0 / 0.28);
  --color-form-control-fg-default-disabled: oklch(0.714 0.019 261.325);
  --color-form-control-fg-default-placeholder: oklch(0.711 0.035 256.788);
  --color-form-control-ring: oklch(1 0 0);
  --color-gallery-trigger-bg: oklch(0.278 0.034 257.672);
  --color-gallery-trigger-bg-active: oklch(0.937 0.03 251.281);
  --color-gallery-trigger-border: oklch(0.129 0.041 264.695 / 0.15);
  --color-gallery-trigger-border-active: oklch(0.827 0.109 229.198);
  --color-gallery-trigger-ring: oklch(1 0 0);
  --color-header-actions-fg: oklch(0.827 0.109 229.198);
  --color-header-actions-fg-hover: oklch(1 0 0);
  --color-header-bg: oklch(0.278 0.034 257.672);
  --color-header-fg: oklch(1 0 0);
  --color-header-hamburger-fg: oklch(1 0 0);
  --color-header-hamburger-fg-hover: oklch(0.494 0.037 261.595);
  --color-header-nav-fg: oklch(0.494 0.037 261.595);
  --color-header-nav-fg-active: oklch(0.827 0.109 229.198);
  --color-header-nav-fg-hover: oklch(1 0 0);
  --color-header-nav-item-bg: oklch(0 0 0 / 0);
  --color-icon-fg-danger-default: oklch(0.452 0.066 4.881);
  --color-icon-fg-default-default: oklch(1 0 0);
  --color-icon-fg-primary-default: oklch(0.507 0.063 255.385);
  --color-icon-fg-secondary-default: oklch(0.447 0.076 49.767);
  --color-icon-fg-success-default: oklch(0.844 0.143 165.23);
  --color-icon-fg-warning-default: oklch(0.492 0.079 93.623);
  --color-input-bg-default-default: oklch(1 0 0 / 0.05);
  --color-input-bg-default-disabled: oklch(0.278 0.03 256.848);
  --color-input-bg-default-focus: oklch(1 0 0 / 0.15);
  --color-input-bg-default-hover: oklch(1 0 0 / 0.1);
  --color-input-border-danger-default: oklch(0.808 0.103 19.571);
  --color-input-border-danger-focus: oklch(0.808 0.103 19.571);
  --color-input-border-danger-hover: oklch(0.711 0.166 22.216);
  --color-input-border-default-default: oklch(1 0 0 / 0.18);
  --color-input-border-default-disabled: oklch(0.373 0.031 259.733);
  --color-input-border-default-focus: oklch(0.828 0.101 230.318);
  --color-input-border-default-hover: oklch(1 0 0 / 0.28);
  --color-input-border-success-default: oklch(0.845 0.13 164.978);
  --color-input-border-success-focus: oklch(0.845 0.13 164.978);
  --color-input-border-success-hover: oklch(0.773 0.153 163.223);
  --color-input-border-warning-default: oklch(0.861 0.173 91.936);
  --color-input-border-warning-focus: oklch(0.861 0.173 91.936);
  --color-input-border-warning-hover: oklch(0.795 0.162 86.047);
  --color-input-fg-default-default: oklch(1 0 0);
  --color-input-fg-default-disabled: oklch(0.714 0.019 261.325);
  --color-input-fg-default-placeholder: oklch(0.711 0.035 256.788);
  --color-input-ring-default-default: oklch(1 0 0);
  --color-label-fg-default-default: oklch(1 0 0);
  --color-label-fg-default-disabled: oklch(0.551 0.027 264.328);
  --color-label-fg-default-required: oklch(0.702 0.189 22.228);
  --color-link-active: oklch(0.748 0.155 233.252);
  --color-link-base: oklch(0.507 0.063 255.385);
  --color-link-disabled: oklch(0.551 0.027 264.328);
  --color-link-fg-active: oklch(0.748 0.155 233.252);
  --color-link-fg-default: oklch(0.507 0.063 255.385);
  --color-link-fg-disabled: oklch(0.551 0.027 264.328);
  --color-link-fg-hover: oklch(0.504 0.128 245.46);
  --color-link-fg-visited: oklch(0.593 0.151 245.368);
  --color-link-hover: oklch(0.504 0.128 245.46);
  --color-link-visited: oklch(0.593 0.151 245.368);
  --color-menu-content-bg: oklch(0.278 0.034 257.672);
  --color-menu-content-border: oklch(0.373 0.034 260.169);
  --color-menu-fg-disabled-default: oklch(0.551 0.027 264.328);
  --color-menu-item-bg-default-hover: oklch(0.129 0.041 264.695 / 0.1);
  --color-menu-item-fg: oklch(1 0 0);
  --color-menu-item-icon-fg: oklch(0.494 0.037 261.595);
  --color-menu-separator-bg: oklch(0.129 0.041 264.695 / 0.15);
  --color-menu-submenu-indicator-fg: oklch(0.494 0.037 261.595);
  --color-pagination-bg-active: oklch(0.827 0.109 229.198);
  --color-pagination-bg-default: oklch(0.278 0.034 257.672);
  --color-pagination-bg-disabled: oklch(0.278 0.034 257.672);
  --color-pagination-bg-hover: oklch(0.898 0.094 209.143);
  --color-pagination-bg-neutral: oklch(0 0 0 / 0);
  --color-pagination-border-active: oklch(0.827 0.109 229.198);
  --color-pagination-border-default: oklch(0.129 0.041 264.695 / 0.15);
  --color-pagination-border-disabled: oklch(0.373 0.034 260.169);
  --color-pagination-fg-default: oklch(1 0 0);
  --color-pagination-fg-disabled: oklch(0.551 0.027 264.328);
  --color-pagination-fg-filled-active: oklch(1 0 0);
  --color-pagination-fg-minimal-active: oklch(0.507 0.063 255.385);
  --color-pagination-fg-outlined-active: oklch(0.507 0.063 255.385);
  --color-pagination-ring-default: oklch(1 0 0);
  --color-palette-base-black-default: oklch(0 0 0);
  --color-palette-base-white-default: oklch(1 0 0);
  --color-palette-danger-100-default: oklch(0.936 0.032 17.738);
  --color-palette-danger-200-default: oklch(0.883 0.062 18.386);
  --color-palette-danger-300-default: oklch(0.805 0.111 19.782);
  --color-palette-danger-400-default: oklch(0.702 0.189 22.228);
  --color-palette-danger-500-default: oklch(0.638 0.237 25.436);
  --color-palette-danger-600-default: oklch(0.583 0.239 28.476);
  --color-palette-danger-700-default: oklch(0.509 0.209 28.513);
  --color-palette-danger-800-default: oklch(0.445 0.177 26.787);
  --color-palette-danger-900-default: oklch(0.397 0.141 25.714);
  --color-palette-neutral-100-default: oklch(0.967 0.003 264.542);
  --color-palette-neutral-200-default: oklch(0.928 0.006 264.531);
  --color-palette-neutral-300-default: oklch(0.872 0.011 261.787);
  --color-palette-neutral-400-default: oklch(0.707 0.022 261.749);
  --color-palette-neutral-50-default: oklch(0.985 0.002 247.839);
  --color-palette-neutral-500-default: oklch(0.551 0.027 264.328);
  --color-palette-neutral-600-default: oklch(0.446 0.03 257.68);
  --color-palette-neutral-700-default: oklch(0.373 0.034 260.169);
  --color-palette-neutral-800-default: oklch(0.278 0.034 257.672);
  --color-palette-neutral-900-default: oklch(0.21 0.034 263.436);
  --color-palette-neutral-950-default: oklch(0.13 0.027 261.692);
  --color-palette-primary-100-default: oklch(0.951 0.026 235.347);
  --color-palette-primary-200-default: oklch(0.9 0.058 230.911);
  --color-palette-primary-300-default: oklch(0.827 0.109 229.198);
  --color-palette-primary-400-default: oklch(0.748 0.155 233.252);
  --color-palette-primary-500-default: oklch(0.692 0.16 240.379);
  --color-palette-primary-600-default: oklch(0.593 0.151 245.368);
  --color-palette-primary-700-default: oklch(0.504 0.128 245.46);
  --color-palette-primary-800-default: oklch(0.445 0.107 242.792);
  --color-palette-primary-900-default: oklch(0.391 0.089 240.611);
  --color-palette-secondary-100-default: oklch(0.962 0.059 95.885);
  --color-palette-secondary-200-default: oklch(0.924 0.12 95.845);
  --color-palette-secondary-300-default: oklch(0.878 0.169 91.857);
  --color-palette-secondary-400-default: oklch(0.829 0.171 81.038);
  --color-palette-secondary-500-default: oklch(0.772 0.173 65.367);
  --color-palette-secondary-600-default: oklch(0.667 0.169 53.381);
  --color-palette-secondary-700-default: oklch(0.557 0.158 45.359);
  --color-palette-secondary-800-default: oklch(0.475 0.136 44.981);
  --color-palette-secondary-900-default: oklch(0.415 0.113 45.878);
  --color-palette-slate-950-default: oklch(0.13 0.043 265.132);
  --color-palette-success-100-default: oklch(0.95 0.052 163.631);
  --color-palette-success-200-default: oklch(0.905 0.094 163.868);
  --color-palette-success-300-default: oklch(0.844 0.143 165.23);
  --color-palette-success-400-default: oklch(0.769 0.169 161.949);
  --color-palette-success-500-default: oklch(0.702 0.158 160.438);
  --color-palette-success-600-default: oklch(0.603 0.134 160.923);
  --color-palette-success-700-default: oklch(0.513 0.11 163.565);
  --color-palette-success-800-default: oklch(0.434 0.09 165.866);
  --color-palette-success-900-default: oklch(0.38 0.076 168.711);
  --color-palette-tertiary-100-default: oklch(0.941 0.03 12.58);
  --color-palette-tertiary-200-default: oklch(0.892 0.058 9.078);
  --color-palette-tertiary-300-default: oklch(0.806 0.112 11.594);
  --color-palette-tertiary-400-default: oklch(0.706 0.19 12.979);
  --color-palette-tertiary-500-default: oklch(0.643 0.245 16.501);
  --color-palette-tertiary-600-default: oklch(0.597 0.24 19.695);
  --color-palette-tertiary-700-default: oklch(0.525 0.211 18.944);
  --color-palette-tertiary-800-default: oklch(0.459 0.184 14.559);
  --color-palette-tertiary-900-default: oklch(0.411 0.159 10.192);
  --color-palette-warning-100-default: oklch(0.973 0.071 103.291);
  --color-palette-warning-200-default: oklch(0.945 0.129 101.405);
  --color-palette-warning-300-default: oklch(0.903 0.182 98.271);
  --color-palette-warning-400-default: oklch(0.854 0.174 88.773);
  --color-palette-warning-500-default: oklch(0.798 0.164 82.706);
  --color-palette-warning-600-default: oklch(0.682 0.146 71.472);
  --color-palette-warning-700-default: oklch(0.555 0.127 62.525);
  --color-palette-warning-800-default: oklch(0.478 0.112 60.426);
  --color-palette-warning-900-default: oklch(0.422 0.095 57.939);
  --color-popover-arrow: oklch(0.278 0.034 257.672);
  --color-popover-bg: oklch(0.278 0.034 257.672);
  --color-popover-border: oklch(0.373 0.034 260.169);
  --color-popover-close-trigger-fg: oklch(1 0 0);
  --color-popover-description-fg: oklch(0.494 0.037 261.595);
  --color-popover-fg: oklch(1 0 0);
  --color-primitive-transparent-default: oklch(0 0 0 / 0);
  --color-product-card-bg: oklch(0.278 0.034 257.672);
  --color-product-card-border: oklch(0.129 0.041 264.695 / 0.15);
  --color-product-card-button-cart-bg-default: oklch(0.827 0.109 229.198);
  --color-product-card-button-cart-bg-hover: oklch(0.898 0.094 209.143);
  --color-product-card-button-cart-fg: oklch(0.13 0.043 265.132);
  --color-product-card-button-detail-bg-default: oklch(0.772 0.173 65.367);
  --color-product-card-button-detail-bg-hover: oklch(0.881 0.181 94.02);
  --color-product-card-button-detail-fg: oklch(0.13 0.043 265.132);
  --color-product-card-button-wishlist-bg-default: oklch(0.806 0.112 11.594);
  --color-product-card-button-wishlist-bg-hover: oklch(0.747 0.158 9.988);
  --color-product-card-button-wishlist-fg: oklch(0.13 0.043 265.132);
  --color-product-card-name-fg: oklch(1 0 0);
  --color-product-card-price-fg: oklch(1 0 0);
  --color-product-card-stock-fg-in-stock: oklch(0.844 0.143 165.23);
  --color-product-card-stock-fg-limited-stock: oklch(0.492 0.079 93.623);
  --color-product-card-stock-fg-out-of-stock: oklch(0.452 0.066 4.881);
  --color-radio-card-item-bg-default: oklch(0.278 0.034 257.672);
  --color-radio-card-item-bg-disabled: oklch(0.278 0.034 257.672);
  --color-radio-card-item-bg-solid-checked: oklch(0.827 0.109 229.198);
  --color-radio-card-item-bg-subtle-checked: oklch(0.937 0.03 251.281);
  --color-radio-card-item-border-checked: oklch(0.827 0.109 229.198);
  --color-radio-card-item-border-default: oklch(0.129 0.041 264.695 / 0.15);
  --color-radio-card-item-border-disabled: oklch(0.373 0.034 260.169);
  --color-radio-card-item-border-error: oklch(0.702 0.189 22.228);
  --color-radio-card-item-description-default: oklch(0.494 0.037 261.595);
  --color-radio-card-item-fg-default: oklch(1 0 0);
  --color-radio-card-item-fg-disabled: oklch(0.551 0.027 264.328);
  --color-radio-card-item-fg-solid-checked: oklch(1 0 0);
  --color-radio-card-item-indicator-bg-default: oklch(0 0 0 / 0);
  --color-radio-card-item-indicator-border-default: oklch(0.129 0.041 264.695 / 0.15);
  --color-radio-card-item-indicator-content-default: oklch(0.507 0.063 255.385);
  --color-radio-group-item-bg-default: oklch(0 0 0 / 0);
  --color-radio-group-item-bg-disabled: oklch(0.278 0.034 257.672);
  --color-radio-group-item-bg-solid-checked: oklch(0.827 0.109 229.198);
  --color-radio-group-item-bg-subtle-checked: oklch(0.937 0.03 251.281);
  --color-radio-group-item-border-checked: oklch(0.827 0.109 229.198);
  --color-radio-group-item-border-default: oklch(0.129 0.041 264.695 / 0.15);
  --color-radio-group-item-border-disabled: oklch(0.373 0.034 260.169);
  --color-radio-group-item-border-error: oklch(0.702 0.189 22.228);
  --color-radio-group-item-description-default: oklch(0.494 0.037 261.595);
  --color-radio-group-item-fg-default: oklch(1 0 0);
  --color-radio-group-item-fg-disabled: oklch(0.551 0.027 264.328);
  --color-radio-group-item-indicator-disabled: oklch(0.551 0.027 264.328);
  --color-radio-group-item-indicator-outline: oklch(0.507 0.063 255.385);
  --color-radio-group-item-indicator-solid: oklch(1 0 0);
  --color-radio-group-ring-default: oklch(1 0 0);
  --color-radius-color-select-root-full-default: 624.94rem;
  --color-radius-color-select-root-lg-default: 1rem;
  --color-radius-color-select-root-md-default: 0.5rem;
  --color-radius-color-select-root-sm-default: 0.25rem;
  --color-rating-fg-default-active: oklch(0.798 0.164 82.706);
  --color-rating-fg-default-default: oklch(0 0 0 / 0);
  --color-rating-fg-default-disabled: oklch(0.551 0.027 264.328);
  --color-rating-ring-default-default: oklch(1 0 0);
  --color-search-form-bg-default: oklch(1 0 0 / 0.05);
  --color-search-form-bg-disabled: oklch(0.278 0.03 256.848);
  --color-search-form-bg-focus: oklch(1 0 0 / 0.15);
  --color-search-form-border-default: oklch(1 0 0 / 0.18);
  --color-search-form-border-disabled: oklch(0.373 0.031 259.733);
  --color-search-form-border-focus: oklch(0.828 0.101 230.318);
  --color-search-form-border-hover: oklch(1 0 0 / 0.28);
  --color-search-form-fg-disabled: oklch(0.714 0.019 261.325);
  --color-search-form-fg-placeholder: oklch(0.711 0.035 256.788);
  --color-search-form-ring-default: oklch(1 0 0);
  --color-select-bg-default-disabled: oklch(0.278 0.034 257.672);
  --color-select-border-default-disabled: oklch(0.373 0.034 260.169);
  --color-select-border-error-default: oklch(0.702 0.189 22.228);
  --color-select-border-success-default: oklch(0.844 0.143 165.23);
  --color-select-border-warning-default: oklch(0.798 0.164 82.706);
  --color-select-clear-trigger-bg-default-default: oklch(0 0 0 / 0);
  --color-select-clear-trigger-fg-default-default: oklch(1 0 0);
  --color-select-content-bg-default-default: oklch(0.278 0.034 257.672);
  --color-select-content-border-default-default: oklch(0.129 0.041 264.695 / 0.15);
  --color-select-fg-default-disabled: oklch(0.551 0.027 264.328);
  --color-select-indicator-default-default: oklch(0.507 0.063 255.385);
  --color-select-item-bg-default-default: oklch(0 0 0 / 0);
  --color-select-item-bg-default-hover: oklch(1 0 0 / 0.1);
  --color-select-item-bg-default-selected: oklch(1 0 0 / 0.05);
  --color-select-item-fg-default-default: oklch(1 0 0);
  --color-select-item-fg-default-selected: oklch(0.507 0.063 255.385);
  --color-select-placeholder-default-default: oklch(0.711 0.035 256.788);
  --color-select-ring-default-default: oklch(1 0 0);
  --color-select-trigger-bg-default-hover: oklch(1 0 0 / 0.1);
  --color-select-trigger-border-default-focus: oklch(0.828 0.101 230.318);
  --color-select-trigger-border-default-hover: oklch(1 0 0 / 0.28);
  --color-select-trigger-fg-default-default: oklch(1 0 0);
  --color-select-trigger-fg-default-hover: oklch(0.507 0.063 255.385);
  --color-semantic-bg-danger-active: oklch(0.881 0.063 18.416);
  --color-semantic-bg-danger-default: oklch(0.702 0.189 22.228);
  --color-semantic-bg-danger-hover: oklch(0.855 0.079 18.827);
  --color-semantic-bg-disabled-default: oklch(0.278 0.034 257.672);
  --color-semantic-bg-info-default: oklch(0.704 0.123 182.503);
  --color-semantic-bg-light-danger-active: oklch(0.962 0.019 25.602);
  --color-semantic-bg-light-danger-default: oklch(0.9 0.048 18.09);
  --color-semantic-bg-light-danger-hover: oklch(0.953 0.023 24.126);
  --color-semantic-bg-light-primary-active: oklch(0.969 0.046 196.42);
  --color-semantic-bg-light-primary-default: oklch(0.937 0.03 251.281);
  --color-semantic-bg-light-primary-hover: oklch(0.969 0.046 196.42);
  --color-semantic-bg-light-secondary-active: oklch(0.97 0.107 105.368);
  --color-semantic-bg-light-secondary-default: oklch(0.893 0.063 56.696);
  --color-semantic-bg-light-secondary-hover: oklch(0.97 0.107 105.368);
  --color-semantic-bg-light-tertiary-active: oklch(0.884 0.064 6.283);
  --color-semantic-bg-light-tertiary-default: oklch(0.941 0.034 344.058);
  --color-semantic-bg-light-tertiary-hover: oklch(0.857 0.079 9.107);
  --color-semantic-bg-light-warning-active: oklch(0.975 0.117 107.339);
  --color-semantic-bg-light-warning-default: oklch(0.928 0.073 92.942);
  --color-semantic-bg-light-warning-hover: oklch(0.975 0.117 107.339);
  --color-semantic-bg-outlined-danger-active: oklch(0.794 0.119 20.048 / 0.122);
  --color-semantic-bg-outlined-danger-hover: oklch(0.805 0.111 19.782 / 0.161);
  --color-semantic-bg-outlined-primary-active: oklch(0.813 0.111 233.957 / 0.122);
  --color-semantic-bg-outlined-primary-hover: oklch(0.823 0.112 229.19 / 0.161);
  --color-semantic-bg-outlined-secondary-active: oklch(0.822 0.171 78.982 / 0.122);
  --color-semantic-bg-outlined-secondary-hover: oklch(0.833 0.172 82.058 / 0.161);
  --color-semantic-bg-outlined-tertiary-active: oklch(0.705 0.19 14.191 / 0.122);
  --color-semantic-bg-outlined-tertiary-hover: oklch(0.706 0.189 14.04 / 0.161);
  --color-semantic-bg-outlined-warning-active: oklch(0.844 0.172 90.132 / 0.122);
  --color-semantic-bg-outlined-warning-hover: oklch(0.856 0.175 88.008 / 0.161);
  --color-semantic-bg-primary-active: oklch(0.932 0.092 198.233);
  --color-semantic-bg-primary-default: oklch(0.827 0.109 229.198);
  --color-semantic-bg-primary-hover: oklch(0.898 0.094 209.143);
  --color-semantic-bg-secondary-active: oklch(0.907 0.182 99.038);
  --color-semantic-bg-secondary-default: oklch(0.772 0.173 65.367);
  --color-semantic-bg-secondary-hover: oklch(0.881 0.181 94.02);
  --color-semantic-bg-success-default: oklch(0.844 0.143 165.23);
  --color-semantic-bg-tertiary-active: oklch(0.769 0.142 7.776);
  --color-semantic-bg-tertiary-default: oklch(0.806 0.112 11.594);
  --color-semantic-bg-tertiary-hover: oklch(0.747 0.158 9.988);
  --color-semantic-bg-transparent-default: oklch(0 0 0 / 0);
  --color-semantic-bg-warning-active: oklch(0.937 0.199 105.01);
  --color-semantic-bg-warning-default: oklch(0.798 0.164 82.706);
  --color-semantic-bg-warning-hover: oklch(0.909 0.189 99.865);
  --color-semantic-border-disabled-default: oklch(0.373 0.034 260.169);
  --color-semantic-border-primary-default: oklch(0.129 0.041 264.695 / 0.15);
  --color-semantic-fg-accent-danger-default: oklch(0.452 0.066 4.881);
  --color-semantic-fg-accent-primary-default: oklch(0.507 0.063 255.385);
  --color-semantic-fg-accent-secondary-default: oklch(0.447 0.076 49.767);
  --color-semantic-fg-accent-success-default: oklch(0.844 0.143 165.23);
  --color-semantic-fg-accent-tertiary-default: oklch(0.511 0.054 323.997);
  --color-semantic-fg-accent-warning-default: oklch(0.492 0.079 93.623);
  --color-semantic-fg-disabled-default: oklch(0.551 0.027 264.328);
  --color-semantic-fg-light-default: oklch(0.13 0.043 265.132);
  --color-semantic-fg-primary-default: oklch(1 0 0);
  --color-semantic-fg-secondary-default: oklch(0.494 0.037 261.595);
  --color-semantic-fill-base-active: oklch(0.129 0.041 264.695 / 0.15);
  --color-semantic-fill-base-default: oklch(0 0 0 / 0);
  --color-semantic-fill-base-hover: oklch(0.129 0.041 264.695 / 0.1);
  --color-semantic-fill-highlight-default: oklch(0.373 0.034 260.169);
  --color-semantic-fill-overlay-default: oklch(0.278 0.034 257.672);
  --color-semantic-fill-surface-default: oklch(0.278 0.034 257.672);
  --color-semantic-ring-default-default: oklch(1 0 0);
  --color-size-color-select-root-lg-default: 2.27rem;
  --color-size-color-select-root-md-default: 1.7rem;
  --color-size-color-select-root-sm-default: 1.13rem;
  --color-skeleton-bg-primary-default: oklch(0.278 0.034 257.672);
  --color-skeleton-bg-secondary-default: oklch(0.278 0.034 257.672);
  --color-slider-border-default: oklch(0.129 0.041 264.695 / 0.15);
  --color-slider-border-disabled: oklch(0.373 0.034 260.169);
  --color-slider-border-error: oklch(0.702 0.189 22.228);
  --color-slider-label-fg-default: oklch(1 0 0);
  --color-slider-marker-bg-default: oklch(0.278 0.034 257.672);
  --color-slider-range-bg-default: oklch(0.827 0.109 229.198);
  --color-slider-range-bg-disabled: oklch(0.551 0.027 264.328);
  --color-slider-range-bg-error: oklch(0.702 0.189 22.228);
  --color-slider-ring-default: oklch(1 0 0);
  --color-slider-thumb-bg-default: oklch(1 0 0);
  --color-slider-thumb-bg-disabled: oklch(0.551 0.027 264.328);
  --color-slider-track-bg-default: oklch(0.278 0.034 257.672);
  --color-slider-track-bg-disabled: oklch(0.278 0.034 257.672);
  --color-spacing-color-select-gap-lg-default: 1.45rem;
  --color-spacing-color-select-gap-md-default: 0.88rem;
  --color-spacing-color-select-gap-sm-default: 0.31rem;
  --color-status-text-fg: oklch(0.494 0.037 261.595);
  --color-status-text-fg-error-default: oklch(0.808 0.103 19.571);
  --color-status-text-fg-success-default: oklch(0.845 0.13 164.978);
  --color-status-text-fg-warning-default: oklch(0.861 0.173 91.936);
  --color-steps-content-bg: oklch(0.278 0.034 257.672);
  --color-steps-content-border: oklch(0.129 0.041 264.695 / 0.15);
  --color-steps-content-fg: oklch(1 0 0);
  --color-steps-description-fg-default: oklch(0.494 0.037 261.595);
  --color-steps-indicator-bg-complete: oklch(0.844 0.143 165.23);
  --color-steps-indicator-bg-current: oklch(0.827 0.109 229.198);
  --color-steps-indicator-bg-default: oklch(0.278 0.034 257.672);
  --color-steps-indicator-border-complete: oklch(0.844 0.143 165.23);
  --color-steps-indicator-border-current: oklch(0.827 0.109 229.198);
  --color-steps-indicator-border-default: oklch(0.129 0.041 264.695 / 0.15);
  --color-steps-indicator-fg-complete: oklch(1 0 0);
  --color-steps-indicator-fg-current: oklch(1 0 0);
  --color-steps-indicator-fg-default: oklch(0.494 0.037 261.595);
  --color-steps-separator-bg-complete: oklch(0.844 0.143 165.23);
  --color-steps-separator-bg-default: oklch(0.129 0.041 264.695 / 0.15);
  --color-steps-title-fg-complete: oklch(0.844 0.143 165.23);
  --color-steps-title-fg-current: oklch(0.507 0.063 255.385);
  --color-steps-title-fg-default: oklch(1 0 0);
  --color-switch-bg-checked: oklch(0.844 0.143 165.23);
  --color-switch-bg-checked-hover: oklch(0.871 0.105 167.65);
  --color-switch-bg-default: oklch(0.278 0.034 257.672);
  --color-switch-bg-disabled: oklch(0.278 0.034 257.672);
  --color-switch-bg-hover: oklch(0.341 0 0);
  --color-switch-bg-invalid: oklch(0.77 0.13 20.486 / 0.8);
  --color-switch-border-default: oklch(0.129 0.041 264.695 / 0.15);
  --color-switch-border-disabled: oklch(0.373 0.034 260.169);
  --color-switch-label-fg-default: oklch(1 0 0);
  --color-switch-label-fg-disabled: oklch(0.551 0.027 264.328);
  --color-switch-ring-default: oklch(1 0 0);
  --color-switch-ring-invalid: oklch(0.452 0.066 4.881);
  --color-switch-thumb-bg-default: oklch(1 0 0);
  --color-switch-thumb-bg-disabled: oklch(0.551 0.027 264.328);
  --color-table-bg: oklch(0.278 0.034 257.672);
  --color-table-border: oklch(0.129 0.041 264.695 / 0.15);
  --color-table-caption-fg: oklch(0.494 0.037 261.595);
  --color-table-fg: oklch(1 0 0);
  --color-table-footer-bg: oklch(0.937 0.03 251.281);
  --color-table-footer-fg: oklch(0.494 0.037 261.595);
  --color-table-header-bg: oklch(0.937 0.03 251.281);
  --color-table-header-fg: oklch(1 0 0);
  --color-table-row-bg: oklch(0 0 0 / 0);
  --color-table-row-bg-hover: oklch(0.937 0.03 251.281);
  --color-table-row-bg-selected: oklch(0.937 0.03 251.281);
  --color-table-row-striped-primary: oklch(0.937 0.03 251.281);
  --color-table-row-striped-secondary: oklch(0 0 0 / 0);
  --color-tabs-bg: oklch(0.278 0.034 257.672);
  --color-tabs-border-default: oklch(0.129 0.041 264.695 / 0.15);
  --color-tabs-border-selected: oklch(0.827 0.109 229.198);
  --color-tabs-content-fg: oklch(1 0 0);
  --color-tabs-indicator-bg: oklch(0.827 0.109 229.198);
  --color-tabs-list-bg: oklch(0.373 0.034 260.169);
  --color-tabs-ring-default: oklch(1 0 0);
  --color-tabs-trigger-bg-hover: oklch(0.129 0.041 264.695 / 0.1);
  --color-tabs-trigger-bg-outline-selected: oklch(0.937 0.03 251.281);
  --color-tabs-trigger-bg-solid-selected: oklch(0.827 0.109 229.198);
  --color-tabs-trigger-fg-default: oklch(0.494 0.037 261.595);
  --color-tabs-trigger-fg-disabled: oklch(0.551 0.027 264.328);
  --color-tabs-trigger-fg-selected: oklch(0.827 0.109 229.198);
  --color-tabs-trigger-fg-solid-selected: oklch(0.13 0.043 265.132);
  --color-text-color-select-label-size-lg-default: 1.13rem;
  --color-text-color-select-label-size-md-default: 0.94rem;
  --color-text-color-select-label-size-sm-default: 0.78rem;
  --color-toast-bg-default: oklch(0.373 0.034 260.169);
  --color-toast-bg-error: oklch(0.702 0.189 22.228);
  --color-toast-bg-info: oklch(0.704 0.123 182.503);
  --color-toast-bg-success: oklch(0.844 0.143 165.23);
  --color-toast-bg-warning: oklch(0.798 0.164 82.706);
  --color-toast-border-default: oklch(0.129 0.041 264.695 / 0.15);
  --color-toast-border-error: oklch(0.702 0.189 22.228);
  --color-toast-border-info: oklch(0.704 0.123 182.503);
  --color-toast-border-success: oklch(0.844 0.143 165.23);
  --color-toast-border-warning: oklch(0.798 0.164 82.706);
  --color-toast-close-default: oklch(1 0 0);
  --color-toast-fg-default: oklch(1 0 0);
  --color-tooltip-arrow-default-default: oklch(0.278 0.034 257.672);
  --color-tooltip-bg-default-default: oklch(0.278 0.034 257.672);
  --color-tooltip-border-outline-default: oklch(0.129 0.041 264.695 / 0.15);
  --color-tooltip-fg-default-default: oklch(1 0 0);
  --color-tree-view-bg: oklch(0 0 0 / 0);
  --color-tree-view-fg-default: oklch(1 0 0);
  --color-tree-view-fg-disabled: oklch(0.551 0.027 264.328);
  --color-tree-view-fg-hover: oklch(0.13 0.043 265.132);
  --color-tree-view-fg-selected: oklch(0.827 0.109 229.198);
  --color-tree-view-icon-default: oklch(0.494 0.037 261.595);
  --color-tree-view-icon-hover: oklch(1 0 0);
  --color-tree-view-indent-bg: oklch(0.129 0.041 264.695 / 0.15);
  --color-tree-view-label-fg: oklch(1 0 0);
  --color-tree-view-node-bg-hover: oklch(0.898 0.094 209.143);
  --color-tree-view-ring: oklch(1 0 0);
  /* Fonts */
  --font-weight-accordion-title: 500;
  --font-weight-badge-weight-lg-default: 600;
  --font-weight-badge-weight-md-default: 500;
  --font-weight-badge-weight-sm-default: 300;
  --font-weight-badge-weight-xl-default: 700;
  --font-weight-dialog-title: 600;
  --font-weight-footer-link: 500;
  --font-weight-footer-title: 600;
  --font-weight-header-nav: 500;
  --font-weight-header-nav-active: 600;
  --font-weight-label-weight-default-default: 700;
  --font-weight-link-weight-default: 500;
  --font-weight-popover-title: 600;
  --font-weight-product-card-name: 500;
  --font-weight-product-card-price: 500;
  --font-weight-product-card-stock: 500;
  --font-weight-table-caption: 500;
  --font-weight-table-footer: 500;
  --font-weight-table-header: 600;
  /* Measures */
  --duration-header: 2ms;
  --duration-skeleton-pulse-fast-default: 1ms;
  --duration-skeleton-pulse-normal-default: 2ms;
  --duration-skeleton-pulse-slow-default: 3ms;
  --radius-accordion-root: 0.25rem;
  --radius-badge-root-default-default: 0.25rem;
  --radius-button-root-lg-default: 0.75rem;
  --radius-button-root-md-default: 0.5rem;
  --radius-button-root-sm-default: 0.25rem;
  --radius-carousel-indicator: 624.94rem;
  --radius-carousel-root: 0.25rem;
  --radius-combobox-root-lg: 0rem;
  --radius-combobox-root-md: 0.5rem;
  --radius-combobox-root-sm: 0.25rem;
  --radius-dialog-close-trigger: 624.94rem;
  --radius-dialog-content-center: 0.25rem;
  --radius-dialog-content-edge: 0rem;
  --radius-dialog-content-side: 0rem;
  --radius-footer-root: 0rem;
  --radius-form-control-root: 0.5rem;
  --radius-form-control-root-lg-default: 0rem;
  --radius-form-control-root-md-default: 0.5rem;
  --radius-form-control-root-sm-default: 0.25rem;
  --radius-gallery-trigger: 0.25rem;
  --radius-input-root-default-default: 0.5rem;
  --radius-input-root-lg-default: 0rem;
  --radius-input-root-md-default: 0.5rem;
  --radius-input-root-sm-default: 0.25rem;
  --radius-menu-item: 0.25rem;
  --radius-menu-root: 0.25rem;
  --radius-pagination-root: 0.25rem;
  --radius-popover-root: 0.25rem;
  --radius-product-card-image: 0.5rem;
  --radius-product-card-root: 0.5rem;
  --radius-radio-card-indicator: 624.94rem;
  --radius-radio-card-item: 0.5rem;
  --radius-radio-group-control: 624.94rem;
  --radius-search-form-lg: 0rem;
  --radius-search-form-md: 0.5rem;
  --radius-search-form-sm: 0.25rem;
  --radius-select-root-default-default: 0.5rem;
  --radius-select-root-md-default: 0.5rem;
  --radius-select-root-sm-default: 0.25rem;
  --radius-skeleton-text-default-default: 0.25rem;
  --radius-slider-thumb: 624.94rem;
  --radius-slider-track: 624.94rem;
  --radius-steps-content: 0.5rem;
  --radius-steps-indicator: 624.94rem;
  --radius-switch-root: 624.94rem;
  --radius-table: 0.25rem;
  --radius-tabs-root: 0rem;
  --radius-tabs-trigger: 0rem;
  --radius-toast-root: 0.25rem;
  --radius-tooltip-root-default-default: 0.5rem;
  --radius-tree-view-root: 0rem;
  --spacing-100: 0.31rem;
  --spacing-150: 0.59rem;
  --spacing-200: 0.91rem;
  --spacing-250: 1.19rem;
  --spacing-400: 2.09rem;
  --spacing-50: 0.16rem;
  --spacing-accordion-content-x-lg-default: 1.7rem;
  --spacing-accordion-content-x-md-default: 0.88rem;
  --spacing-accordion-content-x-sm-default: 0.31rem;
  --spacing-accordion-content-y-lg-default: 0.88rem;
  --spacing-accordion-content-y-md-default: 0.57rem;
  --spacing-accordion-content-y-sm-default: 0rem;
  --spacing-accordion-icon-right: 0.88rem;
  --spacing-accordion-title-x-lg-default: 1.13rem;
  --spacing-accordion-title-x-md-default: 0.88rem;
  --spacing-accordion-title-x-sm-default: 0.57rem;
  --spacing-accordion-title-y-lg-default: 0.88rem;
  --spacing-accordion-title-y-md-default: 0.57rem;
  --spacing-accordion-title-y-sm-default: 0.31rem;
  --spacing-badge-all-lg-default: 0.57rem;
  --spacing-badge-all-md-default: 0.31rem;
  --spacing-badge-all-sm-default: 0.13rem;
  --spacing-badge-all-xl-default: 0.88rem;
  --spacing-border-accordion-width: 0.06rem;
  --spacing-border-button-width-lg-default: 0.19rem;
  --spacing-border-button-width-md-default: 0.13rem;
  --spacing-border-button-width-sm-default: 0.06rem;
  --spacing-border-combobox-width: 0.13rem;
  --spacing-border-dialog-width: 0.06rem;
  --spacing-border-footer-width: 0.13rem;
  --spacing-border-form-control-width: 0.13rem;
  --spacing-border-input-width-default-default: 0.13rem;
  --spacing-border-input-width-validation-default: 0.19rem;
  --spacing-border-pagination-width: 0.06rem;
  --spacing-border-product-card-width: 0.06rem;
  --spacing-border-radio-card-width: 0.06rem;
  --spacing-border-radio-group-width: 0.06rem;
  --spacing-border-search-form-width: 0.13rem;
  --spacing-border-select-width-default-default: 0.13rem;
  --spacing-border-select-width-validation-default: 0.19rem;
  --spacing-border-slider-width: 0.06rem;
  --spacing-border-slider-width-error: 0.19rem;
  --spacing-border-steps-width: 0.06rem;
  --spacing-border-switch-width: 0.06rem;
  --spacing-border-table-width: 0.06rem;
  --spacing-border-tabs-width: 0.13rem;
  --spacing-border-toast-width: 0.06rem;
  --spacing-border-width-badge-root-default-default: 0.06rem;
  --spacing-breadcrumb-item: 0.57rem;
  --spacing-breadcrumb-list-lg-default: 0.88rem;
  --spacing-breadcrumb-list-md-default: 0.57rem;
  --spacing-breadcrumb-list-sm-default: 0.31rem;
  --spacing-breadcrumb-root-lg-default: 0.88rem;
  --spacing-breadcrumb-root-md-default: 0.57rem;
  --spacing-breadcrumb-root-sm-default: 0.31rem;
  --spacing-breadcrumb-separator: 0.57rem;
  --spacing-button-gap-lg-default: 1.13rem;
  --spacing-button-gap-md-default: 0.88rem;
  --spacing-button-gap-sm-default: 0.57rem;
  --spacing-button-x-lg-default: 2.01rem;
  --spacing-button-x-md-default: 1.13rem;
  --spacing-button-x-sm-default: 0.88rem;
  --spacing-button-y-lg-default: 0.57rem;
  --spacing-button-y-md-default: 0.31rem;
  --spacing-button-y-sm-default: 0.13rem;
  --spacing-carousel-control: 0.31rem;
  --spacing-carousel-control: 0.88rem;
  --spacing-carousel-indicator: 0.31rem;
  --spacing-carousel-indicator-width-default: 0.88rem;
  --spacing-carousel-root-lg-default: 32rem;
  --spacing-carousel-root-md-default: 24rem;
  --spacing-carousel-root-sm-default: 20rem;
  --spacing-carousel-trigger-right-default: 0.31rem;
  --spacing-carousel-trigger-top-default: 0.31rem;
  --spacing-combobox-gap-lg: 0.88rem;
  --spacing-combobox-gap-md: 0.57rem;
  --spacing-combobox-gap-sm: 0.31rem;
  --spacing-combobox-height-lg: 0rem;
  --spacing-combobox-height-md: 2.75rem;
  --spacing-combobox-height-sm: 2.06rem;
  --spacing-combobox-item-padding-x: 1.13rem;
  --spacing-combobox-item-padding-y-lg: 0.13rem;
  --spacing-combobox-item-padding-y-md: 0.57rem;
  --spacing-combobox-item-padding-y-sm: 0.57rem;
  --spacing-dialog-actions: 0.31rem;
  --spacing-dialog-actions-top: 0.57rem;
  --spacing-dialog-close-trigger: 0.57rem;
  --spacing-dialog-close-trigger-offset: 1.13rem;
  --spacing-dialog-content: 2.27rem;
  --spacing-dialog-content: 1.13rem;
  --spacing-dialog-content-max-width: 42rem;
  --spacing-dialog-x-lg-default: 32rem;
  --spacing-dialog-x-md-default: 28rem;
  --spacing-dialog-x-sm-default: 24rem;
  --spacing-dialog-x-xl-default: 36rem;
  --spacing-dialog-x-xs-default: 20rem;
  --spacing-dialog-y-lg-default: 32rem;
  --spacing-dialog-y-md-default: 28rem;
  --spacing-dialog-y-sm-default: 24rem;
  --spacing-dialog-y-xl-default: 36rem;
  --spacing-dialog-y-xs-default: 20rem;
  --spacing-footer-bottom-lg: 2.01rem;
  --spacing-footer-bottom-md: 1.45rem;
  --spacing-footer-bottom-sm: 0.88rem;
  --spacing-footer-container-lg: 2.58rem;
  --spacing-footer-container-md: 2.01rem;
  --spacing-footer-container-sm: 1.45rem;
  --spacing-footer-list-gap-lg: 0.57rem;
  --spacing-footer-list-gap-md: 0.31rem;
  --spacing-footer-list-gap-sm: 0.13rem;
  --spacing-footer-root-lg: 1.45rem;
  --spacing-footer-root-md: 0.88rem;
  --spacing-footer-root-sm: 0.31rem;
  --spacing-footer-section-lg: 0.57rem;
  --spacing-footer-section-md: 0.31rem;
  --spacing-footer-section-sm: 0.13rem;
  --spacing-form-checkbox-gap: 0.57rem;
  --spacing-form-checkbox-text-offset: 1.7rem;
  --spacing-form-control-height-lg-default: 0rem;
  --spacing-form-control-height-md-default: 2.75rem;
  --spacing-form-control-height-sm-default: 2.06rem;
  --spacing-form-field-gap: 0.13rem;
  --spacing-gallery-lg: 1.45rem;
  --spacing-gallery-md: 0.88rem;
  --spacing-gallery-root: 0.88rem;
  --spacing-gallery-sm: 0.31rem;
  --spacing-gallery-xs: 0.13rem;
  --spacing-header-actions-lg: 2.01rem;
  --spacing-header-actions-md: 1.45rem;
  --spacing-header-actions-sm: 0.88rem;
  --spacing-header-container: 0.31rem;
  --spacing-header-hamburger-lg: 0.88rem;
  --spacing-header-hamburger-md: 0.57rem;
  --spacing-header-hamburger-sm: 0.31rem;
  --spacing-header-item-lg: 0.88rem;
  --spacing-header-item-md: 0.57rem;
  --spacing-header-item-sm: 0.31rem;
  --spacing-header-nav-lg: 2.01rem;
  --spacing-header-nav-md: 1.45rem;
  --spacing-header-nav-sm: 0.88rem;
  --spacing-input-with-button-left-default: 6.8rem;
  --spacing-input-with-button-right-default: 6.8rem;
  --spacing-input-x-lg-default: 0.88rem;
  --spacing-input-x-md-default: 0.57rem;
  --spacing-input-x-sm-default: 0.31rem;
  --spacing-input-y-lg-default: 0.88rem;
  --spacing-input-y-md-default: 0.57rem;
  --spacing-input-y-sm-default: 0.31rem;
  --spacing-label-fg: oklch(1 0 0);
  --spacing-label-fg-disabled: oklch(0.551 0.023 264.364);
  --spacing-label-fg-required: oklch(0.808 0.103 19.571);
  --spacing-label-text-lg: 1.46rem;
  --spacing-label-text-md: 1.19rem;
  --spacing-label-text-sm: 0.97rem;
  --spacing-menu-content: 0.88rem;
  --spacing-menu-item: 0.88rem;
  --spacing-menu-item-x-default: 1.13rem;
  --spacing-menu-item-y-default: 0.88rem;
  --spacing-menu-separator-height: 0.06rem;
  --spacing-menu-separator-margin: 0.88rem;
  --spacing-menu-submenu-indicator: 1.13rem;
  --spacing-pagination-list-gap: 0.88rem;
  --spacing-popover-arrow-size: 0.57rem;
  --spacing-popover-content-lg-default: 1.7rem;
  --spacing-popover-content-md-default: 1.13rem;
  --spacing-popover-content-sm-default: 0.88rem;
  --spacing-popover-title: 0.57rem;
  --spacing-product-card-actions-gap: 0.57rem;
  --spacing-product-card-badges-gap: 0.57rem;
  --spacing-product-card-col-layout-gap: 0.31rem;
  --spacing-product-card-padding: 0.57rem;
  --spacing-product-card-row-layout-gap: 1.13rem;
  --spacing-radio-card-control-gap-lg: 0.88rem;
  --spacing-radio-card-control-gap-md: 0.57rem;
  --spacing-radio-card-control-gap-sm: 0.31rem;
  --spacing-radio-card-indicator-lg: 1.45rem;
  --spacing-radio-card-indicator-mark-lg: 0.31rem;
  --spacing-radio-card-indicator-mark-md: 0.57rem;
  --spacing-radio-card-indicator-mark-sm: 0.13rem;
  --spacing-radio-card-indicator-md: 1.13rem;
  --spacing-radio-card-indicator-sm: 0.88rem;
  --spacing-radio-card-padding-lg: 1.13rem;
  --spacing-radio-card-padding-md: 0.88rem;
  --spacing-radio-card-padding-sm: 0.57rem;
  --spacing-radio-group-control-lg: 1.45rem;
  --spacing-radio-group-control-md: 1.13rem;
  --spacing-radio-group-control-sm: 0.88rem;
  --spacing-radio-group-indicator-lg: 0.88rem;
  --spacing-radio-group-indicator-md: 0.57rem;
  --spacing-radio-group-indicator-sm: 0.57rem;
  --spacing-radio-group-item-lg: 0.88rem;
  --spacing-radio-group-item-md: 0.57rem;
  --spacing-radio-group-item-sm: 0.31rem;
  --spacing-radio-group-stack-lg: 0.88rem;
  --spacing-radio-group-stack-md: 0.57rem;
  --spacing-radio-group-stack-sm: 0.31rem;
  --spacing-rating-gap-lg-default: 0.88rem;
  --spacing-rating-gap-md-default: 0.57rem;
  --spacing-rating-gap-sm-default: 0.31rem;
  --spacing-ring-offset: 0.13rem;
  --spacing-ring-width: 0.13rem;
  --spacing-search-form-gap-lg: 1.13rem;
  --spacing-search-form-gap-md: 0.88rem;
  --spacing-search-form-gap-sm: 0.57rem;
  --spacing-search-form-height-lg: 0rem;
  --spacing-search-form-height-md: 2.75rem;
  --spacing-search-form-height-sm: 2.06rem;
  --spacing-select-clear-trigger-default-default: 0.31rem;
  --spacing-select-content-default-default: 2.27rem;
  --spacing-select-item-x-default-default: 1.13rem;
  --spacing-select-item-y-default-default: 0.57rem;
  --spacing-select-right-default-default: 2.27rem;
  --spacing-select-root-default-default: 0.13rem;
  --spacing-select-trigger-x-md-default: 0.57rem;
  --spacing-select-trigger-x-sm-default: 0.31rem;
  --spacing-select-trigger-y-md-default: 0.57rem;
  --spacing-select-trigger-y-sm-default: 0.31rem;
  --spacing-skeleton-circle-lg-default: 4rem;
  --spacing-skeleton-circle-md-default: 3rem;
  --spacing-skeleton-circle-sm-default: 2rem;
  --spacing-skeleton-circle-xl-default: 6rem;
  --spacing-skeleton-text-lg-default: 0.88rem;
  --spacing-skeleton-text-line-default-default: 1.13rem;
  --spacing-skeleton-text-md-default: 0.57rem;
  --spacing-skeleton-text-sm-default: 0.31rem;
  --spacing-skeleton-text-xl-default: 1.13rem;
  --spacing-slider-root: 0.88rem;
  --spacing-slider-thumb-lg: 1.7rem;
  --spacing-slider-thumb-md: 1.13rem;
  --spacing-slider-thumb-sm: 0.88rem;
  --spacing-slider-track-height-lg: 0.88rem;
  --spacing-slider-track-height-md: 0.57rem;
  --spacing-slider-track-height-sm: 0.31rem;
  --spacing-status-text-icon-gap-lg-default: 0.88rem;
  --spacing-status-text-icon-gap-md-default: 0.31rem;
  --spacing-status-text-icon-gap-sm-default: 0.13rem;
  --spacing-status-text-icon-offset: 0.13rem;
  --spacing-status-text-icon-offset-default-long-text: 0.31rem;
  --spacing-steps-indicator-lg: 2.01rem;
  --spacing-steps-indicator-md: 1.7rem;
  --spacing-steps-indicator-sm: 1.45rem;
  --spacing-steps-item-gap: 0.57rem;
  --spacing-steps-root-gap: 1.45rem;
  --spacing-steps-trigger-gap: 0.57rem;
  --spacing-switch-control: 0.13rem;
  --spacing-switch-root: 0.88rem;
  --spacing-switch-track-height: 1.7rem;
  --spacing-switch-track-width: 3.4rem;
  --spacing-table-caption-lg: 0.88rem;
  --spacing-table-caption-md: 0.57rem;
  --spacing-table-caption-sm: 0.31rem;
  --spacing-table-cell-lg-x: 1.13rem;
  --spacing-table-cell-lg-y: 0.88rem;
  --spacing-table-cell-md-x: 0.88rem;
  --spacing-table-cell-md-y: 0.57rem;
  --spacing-table-cell-sm-x: 0.57rem;
  --spacing-table-cell-sm-y: 0.31rem;
  --spacing-tabs-content-padding-lg: 1.7rem;
  --spacing-tabs-content-padding-md: 1.13rem;
  --spacing-tabs-content-padding-sm: 0.88rem;
  --spacing-tabs-indicator-height: 0.13rem;
  --spacing-tabs-trigger-padding-x-lg: 1.13rem;
  --spacing-tabs-trigger-padding-x-md: 0.88rem;
  --spacing-tabs-trigger-padding-x-sm: 0.57rem;
  --spacing-tabs-trigger-padding-y-lg: 0.88rem;
  --spacing-tabs-trigger-padding-y-md: 0.57rem;
  --spacing-tabs-trigger-padding-y-sm: 0.31rem;
  --spacing-text-accordion-content-size-lg-default: 1.36rem;
  --spacing-text-accordion-content-size-md-default: 1.13rem;
  --spacing-text-accordion-content-size-sm-default: 0.94rem;
  --spacing-text-accordion-subtitle-size-lg-default: 1.13rem;
  --spacing-text-accordion-subtitle-size-md-default: 0.94rem;
  --spacing-text-accordion-subtitle-size-sm-default: 0.78rem;
  --spacing-text-accordion-title-size-lg-default: 1.36rem;
  --spacing-text-accordion-title-size-md-default: 1.13rem;
  --spacing-text-accordion-title-size-sm-default: 0.94rem;
  --spacing-text-badge-size-lg-default: 0.94rem;
  --spacing-text-badge-size-md-default: 0.78rem;
  --spacing-text-badge-size-sm-default: 0.78rem;
  --spacing-text-badge-size-xl-default: 1.13rem;
  --spacing-text-breadcrumb-size-lg-default: 1.13rem;
  --spacing-text-breadcrumb-size-md-default: 0.94rem;
  --spacing-text-breadcrumb-size-sm-default: 0.78rem;
  --spacing-text-button-size-lg-default: 1.36rem;
  --spacing-text-button-size-md-default: 1.13rem;
  --spacing-text-button-size-sm-default: 0.94rem;
  --spacing-text-carousel-trigger: 1.13rem;
  --spacing-text-combobox-size-lg: 1.36rem;
  --spacing-text-combobox-size-md: 1.13rem;
  --spacing-text-combobox-size-sm: 0.94rem;
  --spacing-text-dialog-description-size: 1.13rem;
  --spacing-text-dialog-title-size: 1.64rem;
  --spacing-text-footer-link-lg: 1.36rem;
  --spacing-text-footer-link-md: 1.13rem;
  --spacing-text-footer-link-sm: 0.94rem;
  --spacing-text-footer-text-lg: 1.13rem;
  --spacing-text-footer-text-md: 0.94rem;
  --spacing-text-footer-text-sm: 0.78rem;
  --spacing-text-footer-title-lg: 1.64rem;
  --spacing-text-footer-title-md: 1.36rem;
  --spacing-text-footer-title-sm: 1.13rem;
  --spacing-text-header-lg: 1.36rem;
  --spacing-text-header-md: 1.13rem;
  --spacing-text-header-sm: 0.94rem;
  --spacing-text-icon-size-2xl-default: 1.97rem;
  --spacing-text-icon-size-lg-default: 1.36rem;
  --spacing-text-icon-size-md-default: 1.13rem;
  --spacing-text-icon-size-sm-default: 0.94rem;
  --spacing-text-icon-size-xl-default: 1.64rem;
  --spacing-text-icon-size-xs-default: 0.78rem;
  --spacing-text-input-size-lg-default: 1.36rem;
  --spacing-text-input-size-md-default: 1.13rem;
  --spacing-text-input-size-sm-default: 0.94rem;
  --spacing-text-label-size-current-default: 1.13rem;
  --spacing-text-label-size-lg-default: 1.36rem;
  --spacing-text-label-size-md-default: 1.13rem;
  --spacing-text-label-size-sm-default: 0.94rem;
  --spacing-text-link-size-default: 1rem;
  --spacing-text-menu-item-icon: 1.36rem;
  --spacing-text-menu-item-lg-default: 1.36rem;
  --spacing-text-menu-item-md-default: 1.13rem;
  --spacing-text-menu-item-sm-default: 0.94rem;
  --spacing-text-pagination-size-lg: 1.13rem;
  --spacing-text-pagination-size-md: 0.94rem;
  --spacing-text-pagination-size-sm: 0.78rem;
  --spacing-text-popover-body-lg-default: 1.36rem;
  --spacing-text-popover-body-md-default: 1rem;
  --spacing-text-popover-body-sm-default: 0.94rem;
  --spacing-text-popover-description: 0.94rem;
  --spacing-text-popover-title-lg-default: 1.64rem;
  --spacing-text-popover-title-md-default: 1.36rem;
  --spacing-text-popover-title-sm-default: 1.13rem;
  --spacing-text-product-card-name-size: 1.13rem;
  --spacing-text-product-card-price-size: 1.36rem;
  --spacing-text-product-card-stock-size: 0.94rem;
  --spacing-text-radio-card-description-lg: 1rem;
  --spacing-text-radio-card-description-md: 0.94rem;
  --spacing-text-radio-card-description-sm: 0.78rem;
  --spacing-text-radio-card-item-lg: 1.36rem;
  --spacing-text-radio-card-item-md: 1.13rem;
  --spacing-text-radio-card-item-sm: 0.94rem;
  --spacing-text-radio-group-item-lg: 1.36rem;
  --spacing-text-radio-group-item-md: 1.13rem;
  --spacing-text-radio-group-item-sm: 0.94rem;
  --spacing-text-rating-size-lg-default: 1.36rem;
  --spacing-text-rating-size-md-default: 1.13rem;
  --spacing-text-rating-size-sm-default: 0.94rem;
  --spacing-text-select-item-group-label-size-lg-default: 1.36rem;
  --spacing-text-select-item-group-label-size-md-default: 1.13rem;
  --spacing-text-select-item-group-label-size-sm-default: 0.94rem;
  --spacing-text-select-item-group-label-size-xs-default: 0.78rem;
  --spacing-text-select-item-size-lg-default: 1.36rem;
  --spacing-text-select-item-size-md-default: 1.13rem;
  --spacing-text-select-item-size-sm-default: 0.94rem;
  --spacing-text-select-item-size-xs-default: 0.78rem;
  --spacing-text-select-trigger-size-lg-default: 1.36rem;
  --spacing-text-select-trigger-size-md-default: 1.13rem;
  --spacing-text-select-trigger-size-sm-default: 0.94rem;
  --spacing-text-select-trigger-size-xs-default: 0.78rem;
  --spacing-text-select-value-size-lg-default: 1.36rem;
  --spacing-text-select-value-size-md-default: 1.13rem;
  --spacing-text-select-value-size-sm-default: 0.94rem;
  --spacing-text-select-value-size-xs-default: 0.78rem;
  --spacing-text-slider-value-size: 0.94rem;
  --spacing-text-status-text-size-lg-default: 1.36rem;
  --spacing-text-status-text-size-md-default: 1.13rem;
  --spacing-text-status-text-size-sm-default: 0.94rem;
  --spacing-text-steps-title-lg: 1.36rem;
  --spacing-text-steps-title-md: 1.13rem;
  --spacing-text-steps-title-sm: 0.94rem;
  --spacing-text-table-caption-lg: 1.13rem;
  --spacing-text-table-caption-md: 0.94rem;
  --spacing-text-table-caption-sm: 0.78rem;
  --spacing-text-table-lg: 1.36rem;
  --spacing-text-table-md: 1.13rem;
  --spacing-text-table-sm: 0.94rem;
  --spacing-text-tabs-content-size-lg: 1.36rem;
  --spacing-text-tabs-content-size-md: 1.13rem;
  --spacing-text-tabs-content-size-sm: 0.94rem;
  --spacing-text-tabs-trigger-size-lg: 1.36rem;
  --spacing-text-tabs-trigger-size-md: 1.13rem;
  --spacing-text-tabs-trigger-size-sm: 0.94rem;
  --spacing-text-toast-description: 0.94rem;
  --spacing-text-toast-icon: 1.36rem;
  --spacing-text-toast-title: 1.13rem;
  --spacing-text-tooltip-size-lg-default: 1.13rem;
  --spacing-text-tooltip-size-md-default: 0.94rem;
  --spacing-text-tooltip-size-sm-default: 0.78rem;
  --spacing-text-tree-view-size-lg: 1.36rem;
  --spacing-text-tree-view-size-md: 1.13rem;
  --spacing-text-tree-view-size-sm: 0.94rem;
  --spacing-toast-content-gap: 0.88rem;
  --spacing-toast-description-gap: 0.31rem;
  --spacing-toast-padding: 1.13rem;
  --spacing-tooltip-arrow-size-default-default: 0.57rem;
  --spacing-tooltip-x-lg-default: 1.7rem;
  --spacing-tooltip-x-md-default: 1.13rem;
  --spacing-tooltip-x-sm-default: 0.88rem;
  --spacing-tooltip-y-lg-default: 1.13rem;
  --spacing-tooltip-y-md-default: 0.88rem;
  --spacing-tooltip-y-sm-default: 0.57rem;
  --spacing-tree-view-icon-gap: 0.57rem;
  --spacing-tree-view-indent-per-level: 0.31rem;
  --spacing-tree-view-indent-width: 0.06rem;
  --spacing-tree-view-node-padding: 0.31rem;
}
