@use "../packages/neuron/ui/src/scss/themes/init/root" as *;

:root {
  @include create-root;
}

body {
  margin: 0;
  min-block-size: 100svb;
  align-content: center;
  font-family: system-ui;
  text-align: center;
}

.button {
  background-color: var(--colorBtnBg);
  color: var(--colorBtnText);
  padding-inline: var(--measuresBtnPadInline);
  padding-block: var(--measuresBtnPadBlock);
  border: none;
  border-radius: var(--measuresBtnRadius);
  transition: background-color 0.25s linear;
  font-size: 1rem;
  cursor: pointer;

  @media (hover: hover) {
    &:hover {
      background-color: var(--colorBtnBgHover);
    }
  }
}
