@use "../packages/neuron/ui/src/scss/themes/init/root" as *;

:root {
  @include create-root;
}

.button {
  background: var(--colorBtnBg);
  color: var(--colorBtnText);
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  font-family:
    system-ui,
    -apple-system,
    sans-serif;

  &:hover {
    opacity: 0.9;
  }
}
